<%= form_for(@recipe) do |f| %>
  <%= render 'layouts/errors', object: @recipe %>

  <div class="form-group">
    <%= f.label :title, "Recipe title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :notes, "Recipe notes" %>
    <%= f.text_area :notes, rows: 3, class: "form-control" %>
  </div>
  <div class="actions">
  <%= f.submit "Submit", class: "btn btn-success pull-left" %>
  </div>
<% end %>
