<div id="recipe">

  <div id="header" class="row">
    <div id="title" class="col-md-9">
      <h3>
        <span class="recipe-title"><%= @recipe.title %></span>
        by <%= link_to @author.username, @author %>
      </h3>
      <div id="time">
        Updated <%= time_ago_in_words @recipe.updated_at %> ago.
      </div>
      <% if @recipe.source %>
        <div id="source">
          <strong>Forked from:</strong>
          <%= link_to @recipe.source_recipe.title, @recipe.source_recipe %>
          by
          <%= link_to @recipe.source_recipe_user.username, @recipe.source_recipe_user %>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-3">
      <div id="forks" class="pull-right">
        <%= render 'forks/forks', recipe: @recipe %>
      </div>

      <div id="stars" class="pull-left"> 
        <%= render 'stars/stars', recipe: @recipe %>
      </div>
    </div>
  </div>
  <div id="notes">
    <strong>Notes:</strong>
    <%= @recipe.notes %>
  </div>

  <div id="ingredients">
    <strong>Ingredients:</strong>
    <ul>
      <%= render @recipe.ingredients %>
    </ul>
  </div>

  <div id="directions">
    <strong>Directions:</strong>
    <%= render @recipe.directions %>
  </div>

  <br />
  <% if @author == current_user %>
    <%= link_to 'Add an ingredient', new_recipe_ingredient_path(@recipe) %> |
    <%= link_to 'Add a direction', new_recipe_direction_path(@recipe) %> |
    <%= link_to 'Edit recipe title or notes', edit_recipe_path(@recipe) %> |
  <% end %>
  <%= link_to "All #{@author.username}'s recipes", user_recipes_path(@author) %>
</div>