<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @recipe.notes %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
    <%= render @recipe.ingredients %>
  </ul>
</p>

<%= link_to 'Add an ingredient', new_recipe_ingredient_path(@recipe) %> |
<%= link_to 'Edit recipe title or notes', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
