<div id="recipe">

  <div id="header" class="row">
    <div id="title" class="col-md-9">
      <h3>
        <span class="recipe-title"><%= @recipe.title %></span>
        by <%= link_to @author.username, @author %>
      </h3>
      <div id="time">
        Updated <%= time_ago_in_words @recipe.updated_at %> ago.
      </div>
      <% if @recipe.source %>
        <div id="source">
          Forked from
          <%= link_to @recipe.source_recipe.title, @recipe.source_recipe %>
          by
          <%= link_to @recipe.source_recipe_user.username, @recipe.source_recipe_user %>
        </div>
      <% end %>
      <div id="variation">
        <% if nil %>
          <%= link_to "Variations", '#' %>
        <% end %>
        <% if @author == current_user %>
          <%= link_to "Make a variation", '#' %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div id="forks" class="pull-right">
        <%= render 'forks/forks', recipe: @recipe %>
      </div>

      <div id="stars" class="pull-left"> 
        <%= render 'stars/stars', recipe: @recipe %>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="notes" class="col-xs-12">
      <%= @recipe.notes %>
      <% if @author == current_user %>
        <%= link_to 'Edit recipe title or notes', edit_recipe_path(@recipe) %>
      <% end %>
    </div>

    <div id="ingredients" class="col-md-5 col-sm-6">
      <h4>Ingredients</h4>
      <%= render @recipe.ingredients, recipe: @recipe %>
      <% if @author == current_user %>
        <div class="new">
          <%= render "ingredients/new_btn" %>
        </div>
      <% end %>
    </div>

    <div id="directions" class="col-md-7 col-sm-6">
      <h4>Directions</h4>
      <%= render @recipe.directions, recipe: @recipe %>
      <% if @author == current_user %>
        <div class="new">
          <%= render "directions/new_btn" %>
        </div>
      <% end %>
    </div>
  </div>

  <br />
  <%= link_to "All #{@author.username}'s recipes", user_recipes_path(@author) %>
</div>