<div id="profile" class="row">
  <div class="col-md-2 col-sm-3">
    <div><%= gravatar_for(@user) %></div>
    <h6><%= @user.username %></h6>
    <% if current_user == @user %>
      <h6><%= @user.email %></h6>
      <%= link_to "Edit account", edit_user_registration_path, class: "btn btn-xs btn-success" %>
    <% end %>
  </div>
  <div class="col-md-10 col-sm-9">
    <% if current_user == @user %>
      <h3>Welcome <%= @user.username %>. This is your profile page.</h3>
    <% else %>
      <h3>You are viewing the profile page for <%= @user.username %></h3>
    <% end %>
    <ul class="nav nav-pills">
      <li><%= link_to "View recipe creations", user_recipes_path(@user) %></li>
      <li><%= link_to "View recipe book (stars)", user_stars_path(@user) %></li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recent recipes</h3>
      </div>
      <div class="panel-body">
        <% if @recent_recipes.any? %>
          <%= render 'shared/list', items: @recent_recipes %>
        <% else %>
          <em>No recipes yet...</em>
        <% end %>
      </div>
    </div>
  </div>
</div>