<%= form_for([@recipe, @ingredient]) do |f| %>
  <%= render 'layouts/errors', object: @ingredient %>
    <div class="row">
      <div class="col-sm-2">
      <div class="form-group">
        <%= f.label :magnitude, "Amount", class: "sr-only" %>
        <%= f.text_field :magnitude, class: "form-control", placeholder: 2%>
      </div>
      </div>
      <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :units, class: "sr-only" %>
        <%= f.text_field :units, class: "form-control", placeholder: "cups" %>
      </div>
      </div>
      <div class="col-sm-7">
      <div class="form-group">
        <%= f.label :food, class: "sr-only" %>
        <%= f.text_field :food, class: "form-control", placeholder: "flour" %>
      </div>
      </div>
    </div>
  <%= f.submit "Create", class: "btn btn-success pull-left" %>
<% end %>
