<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @ingredient.food %>
</p>

<p>
  <strong>Magnitude:</strong>
  <%= @ingredient.magnitude %>
</p>

<p>
  <strong>Units:</strong>
  <%= @ingredient.units %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @ingredient.recipe %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
